<?xml version="1.0" encoding="UTF-8"?>
<servlet>
        <servlet-name>default</servlet-name>
        <servlet-class>org.apache.catalina.servlets.DefaultServlet</servlet-class>
        <context-param>
            <param-name>debug</param-name>
            <param-value>0</param-value>
        </context-param>
        <context-param>
            <param-name>listings</param-name>
            <param-value>false</param-value>
        </context-param>
        <load-on-startup>1</load-on-startup>
    </servlet>